@function px($em, $base: $main-size) {
    @return $em/1em * $base;
}

$light-white: rgb(229,229,229);
$dark-white: rgb(145,145,145);
$darker-white: rgb(94,94,94);

$brown: #B88E74;
$red: rgb(200, 93, 55);
$string: #9db075;
$purple: rgb(154,132,158);
$orange: rgb(241,130,95);
$blue: rgb(117, 135, 166);
$background: rgb(40,40,40);
$slightly-lighter: rgba(130, 130, 130, 0.2);
$yellow: rgb(224, 197, 137);
$js-keyword: rgb(249, 238, 152);
$comment: $dark-white;
$selected: rgba(161, 174, 175, 0.1);
$orange-highlight: rgb(241, 130, 96);

$main-size: 16px;
$main-line-height: 1.25em;
$main-font-weight: 200;
$main-px: px($main-line-height, $main-size);
$bigger-line-height: $main-line-height + 0.5em;
$bigger-px: px($bigger-line-height, $main-size);
@warn $bigger-px;
$sub-size: 15px;
$sub-line-height: 1.25em;
$thin-lines: 1px solid rgb(120,120,120);
$darker-width: 1px;
$darker-thin-lines: $darker-width solid rgb(50,50,50);

$img_path: "chrome-extension://__MSG_@@extension_id__/images/";

$big_tabs: 38px;
$unselected_tabs: darken($background, 3%);

@mixin main-content-footer($font-size:$sub-size) {
	flex-basis: $big_tabs !important;
	&, & *, & /deep/ * {
		font-size: $font-size !important;
		font-weight: $main-font-weight;
		line-height: $big_tabs;
		color: $dark-white;
	}
}

html {
	.styles-pane, .vbox.sources, .vbox.elements, .platform-mac .console-view, #drawer-tabbed-pane { /* only target the "Sources" and "Elements" panes */
		&, .tabbed-pane-content { background: $background }
		&, & /deep/ .platform-mac, & #console-messages, input, textarea, keygen, select, button {
			* { font-family: 'Source Code Pro' !important; }
			-webkit-text-stroke: 1px rgba(0,0,0,0.1);
			font-size: $main-size !important;
			font-weight: $main-font-weight !important;
			line-height: $main-line-height !important;
			color: $dark-white !important;
			.monospace { font-size: $main-size !important;  }
			.source-code { font-size: $main-size !important; }
			.metrics { line-height: normal }
		}
	}
}

::selection, ol.watch-expressions > li.hovered, .CodeMirror-selected { background: $selected !important; }

.glyph { background-color: $darker-white; opacity: 1 !important; top: 1px; }
.glyph.shadow { display: none; }
.emulation-status-bar-item .glyph { -webkit-mask-position: -163px 2px }
.node-search-status-bar-item .glyph { -webkit-mask-position: -224px -23px }
.scripts-debug-toolbar {
	.glyph {
		height: 20px; // otherwise the other glyphs show below
		bottom: 0px;
		margin: auto;
	}
	.scripts-pause {
		.glyph { -webkit-mask-position: -32px -75px }
		&.toggled-on .glyph { -webkit-mask-position: 0 -75px }
	}
	.scripts-toggle-breakpoints {
		.glyph { -webkit-mask-position: 0px -26px }
		&.toggled-on .glyph { -webkit-mask-position: -32px -2px }
	}
	.scripts-step-over .glyph { -webkit-mask-position: -128px -75px }
	.scripts-step-into .glyph { -webkit-mask-position: -64px -75px }
	.scripts-step-out .glyph { -webkit-mask-position: -64px -75px }
	.scripts-pause-on-exceptions-status-bar-item .glyph { -webkit-mask-position: -256px -2px }
}
button.status-bar-item, div.status-bar-item {
	padding:0;
	height: $bigger-px;
	.status-bar-counter-item > div {
		vertical-align: 1px;
		margin-right: 5px;
	}
	&.toggled-on .glyph:not(.shadow) { background-color: $orange !important }
}
.status-bar-item {
	vertical-align: top;
	.status-bar-counter-item  {
		vertical-align: top;
	}
}

.swatch { 
	line-height: 0px;
	border-radius: 50%;
	overflow: hidden;
	width: 13px;
	height: 13px;
	.swatch-inner, .swatch-inner:hover {
		border:none;
		border-radius: 50%;
		box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.5) inset;
	}
}

.tabbed-pane-placeholder { text-shadow: none; color: $comment; }

#drawer-contents, .vbox.sources, .vbox.elements, .toolbar, #sources-panel-sources-view, 
.panel.sources .navigator-tabbed-pane {

	.tabbed-pane-header { 
		background-color: $unselected_tabs !important;
		border-bottom: none;
		@include main-content-footer;
		.tabbed-pane-header-contents { margin: 0 }
		.tabbed-pane-header-tab {
			border: none;
			padding: 0 15px;
			margin: 0;
			height: $big_tabs;
			width: initial !important;
			font-weight: $main-font-weight;
			&.selected { 
				background: $background;
				.tabbed-pane-header-tab-title { color: $light-white }
			}
		}
	}

}

#drawer-contents {
	.tabbed-pane-header { 
		background-color: $background !important;
		.tabbed-pane-header-tab.selected { background-color: lighten($background, 2%) }
	}
}

.toolbar {
	* { font-family: 'Source Code Pro' !important; }
	padding: 0;
	background: $unselected_tabs;
	border-bottom: none;
	@include main-content-footer($font-size:$main-size);
	.tabbed-pane-header {
		border: none !important;
		@include main-content-footer($font-size:$main-size);
	}
	.tabbed-pane-header-tabs {
		.tabbed-pane-header-tab { height: $big_tabs }
	}
	.toolbar-controls-left, .toolbar-controls-right {
		opacity: 1;
		margin: 0;
		background: $unselected_tabs;
	}
}

li.overloaded, .styles-section .properties .has-ignorable-error { 
	color: $light-white;
	// background-color: $light-white;
	opacity: 0.5;
	.value { color: $light-white; }
}

.console-view-wrapper { background: $background }

.console-view-wrapper, .vbox.sources, .vbox.elements /deep/ {
	input[type="checkbox"] {
		position: relative;
		width: 10px;
		height: 10px;
		top: 6px;
		margin: 0px 6px 0px 0px;
		border: none;
		box-shadow: none;
		&:before {
			background-color: $background;
			content: "";
			height: 100%;
			width: 100%;
			position: absolute;
		}
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			font-size: 22px;
			font-weight: 100;
			line-height: 7px;
			border-radius: 50%;
			color: $light-white;
			border: 1px $light-white dotted;
		}
		&:hover:after {  }
		&:checked:after { 
			content: ""; 
			background-color: rgba($light-white, 0.9);
			border-color: $dark-white; 
			box-shadow: 0px 0px 0px 1px black inset; 
		}
		&.enabled-button { left: -38px; }
	}
	.properties-tree li {
		&, &.event-listener-breakpoints {
			line-height: $main-line-height !important;
			padding-top: 0px;
		}
	}
	.navigator {
		color: lighten($dark-white, 20%);
		.icon {
			width: 20px;
			height: 20px;
			float: left;
			padding: 4px;
		}
		.navigator-domain-tree-item .icon { content: url($img_path + 'domain.png') }
		.navigator-folder-tree-item .icon { content: url($img_path + 'folder.png'); opacity: 1 }
		li {
			line-height: $main-line-height;
			&, &.selected .selection { height: $main-line-height }
		}
	}
	li.parent, .sidebar-pane-title, .section .header.monospace {
		@mixin arrow {
			-webkit-mask-image: url(Images/statusbarButtonGlyphs.png);
			-webkit-mask-size: 320px 144px;
			-webkit-mask-position: -4px -91px;
			background-color: $darker-white;
			background-position: initial !important;
			opacity:1 !important;
			width: 8px !important;
			height: 20px !important;
			vertical-align: bottom;
			margin-right: 4px !important;
			top: 0px;
		}
		@mixin toggled-arrow { -webkit-mask-position: -20px -90px }
		.expand-element { @include arrow; }
		&.expanded .expand-element { @include toggled-arrow; }
		&::before { @include arrow; }
		&.expanded::before { @include toggled-arrow; }

	}
	.expanded { -webkit-mask-position: -20px -90px }
	.search-bar {
		$extra-space: 15px;
		$per-side: $extra-space/2;
		$search-height: $bigger-px + $extra-space;
		background: $unselected_tabs;
		height: $search-height;
		flex: 0 0 $search-height;
		line-height: $search-height;
		border-top: $darker-thin-lines;
		&.replaceable { 
			height: $search-height * 2; 
			flex: 0 0 $search-height * 2; 
			tr:nth-child(2) { margin-top: -1 * $per-side; }
		}
		td { line-height: $bigger-px; height: $search-height }
		.toolbar-search-control, .toolbar-replace-control {
			td:nth-child(1) & { margin-left: $per-side; }
		}
		.toolbar-search-navigation-controls {
			background: $background;
		}
		.toolbar-search td > span { line-height: $main-line-height; align-items: initial; }
		.toolbar-search button.search-action-button {
			border: none;
			border-radius: 0;
			margin: 0;
			background: $background;
			width: 100%;
			height: $bigger-px;
			width: initial;
		}
		.status-bar-item { width: initial; height: initial }
		.status-bar-item .status-bar-button-text {
			line-height: $bigger-px;
		}
		.search-results-matches { font-size: $main-size; }
		.toolbar-search-navigation {
			&.toolbar-search-navigation-next, &.toolbar-search-navigation-prev {
				background: white;
				-webkit-mask-repeat: no-repeat;
				-webkit-mask-position: 4px 11px;
			}
			&.toolbar-search-navigation-next {
				-webkit-mask-image: url($img_path + 'down-arrow.png');
			}
			&.toolbar-search-navigation-prev {
				-webkit-mask-image: url($img_path + 'up-arrow.png');
			}
		}
		.toolbar-search-control, .toolbar-replace-control, .search-replace {
			border: 0;
			line-height: $bigger-px;
			background: $background;
			height: $bigger-px; 
		}
		.search-replace { padding: 0 $per-side; }
	}
}

.error-icon-small {
	background-image: none;
	position: relative;
}

.sources-status-bar {
	@include main-content-footer;
	background: none !important;
	border-top: $darker-thin-lines !important;

}

.vbox.sources, .vbox.elements /deep/, .console-view { /* only target the "Sources" and "Elements" panes */

	.section .properties .dimmed {
		opacity: 0.3;
	}

	.section .properties .name, .event-properties .name, .console-object-preview .name  {
		color: white !important;
	}

	.highlighted-search-result { background-color: $orange-highlight; color: black !important; }

	.webkit-html-pseudo-element {
		color: $red;
	}

	span.cm-property { color: white; }

	.cm-execution-line {
		background-color: rgba(0, 107, 167, 0.86);
		outline: 1px solid rgba(37, 99, 255, 0.54);
		background-blend-mode: overlay;
	}

	$line-number-size: 50px;

	.CodeMirror {
		line-height: $main-line-height !important; 
		font-family: 'Source Code Pro' !important;
		background: $background !important;
		pre {
			padding: 0 10px !important; 
			font-family: 'Source Code Pro' !important; 
			line-height: $main-line-height !important
		}
		.CodeMirror-cursor { border-left: 1px solid white !important; }
		.CodeMirror-lines { background: $background; }
		.CodeMirror-sizer { margin-left: $line-number-size + 1px !important; }
		.CodeMirror-linenumbers { width: $line-number-size !important; }
		.CodeMirror-linenumber { font-size: 14px; padding: 0 !important; text-align:center !important; opacity: 0.5; }
		.CodeMirror-gutters { background-color: $background; border-right: $darker-thin-lines !important; padding-right:0px; }

		.text-editor-line-with-warning, .text-editor-line-with-error {
			&:not(.cm-execution-line) { background-color:$selected }
		}
		@-webkit-keyframes highlight-bg {
			0% { background-color: $background; }
			25% { background-color: $selected; }
			100% { background-color: $background; }
		}
		.cm-highlight {
			-webkit-animation: "highlight-bg" 1.5s 0s !important;
		}

		.cm-line-with-selection .cm-column-with-selection.cm-search-highlight {
			color: black !important;
			&:before { background-color: $orange-highlight; }
		}

		.cm-s-web-inspector-html .CodeMirror-code pre { max-width: 100%; }

		@-webkit-keyframes corey {
			0% { background-color: $orange-highlight; color: black; }
			100% { background-color: transparent; color: white; } 
		}
		.CodeMirror-matchingbracket { 
			-webkit-animation: none;
			color: white !important;
			border: none !important;
			border-bottom: 1px dotted $orange !important;
		}
		.CodeMirror-nonmatchingbracket { color: white !important; }
	}

	@mixin incSelected($color) {
		color: $color !important;
		&.CodeMirror-selectedtext:not(.CodeMirror-persist-highlight) { color: $color !important }
	}
	.CodeMirror-selectedtext:not(.CodeMirror-persist-highlight) { color: inherit !important; }
	.CodeMirror-code pre, .webkit-css-keyword, .cm-css-operator, .cm-js-operator, .webkit-css-operator { @include incSelected($light-white) }
	.cm-css-def, .cm-js-def, .webkit-css-def, .webkit-css-selector, .cm-css-builtin, .cm-css-qualifier, .cm-css-keyword { @include incSelected($yellow) }
	.cm-css-property, .cm-js-property, .webkit-css-property, .cm-css-meta { @include incSelected($purple); }
	.cm-css-string-2, .cm-js-string-2, .webkit-css-string-2, .cm-keyword { @include incSelected($yellow); }
	.cm-css-comment, .cm-js-comment, .webkit-css-comment { @include incSelected($comment); }
	.cm-css-number, .cm-js-number, .webkit-css-number, .cm-css-atom, .cm-js-atom, .webkit-css-atom { @include incSelected($yellow);}
	.cm-css-string, .cm-js-string, .webkit-css-string, .cm-string { @include incSelected($string) }
	.cm-css-attribute, .cm-js-attribute, .webkit-css-attribute { @include incSelected($brown); }
	.cm-css-tag, .cm-js-tag, .webkit-css-tag { @include incSelected($brown); }
	.cm-css-variable, .cm-js-variable, .webkit-css-variable, .cm-variable { @include incSelected($blue); }

	.cm-comment, .cm-xml-comment { color: $comment !important; }
	.cm-variable, .cm-meta { color: $light-white !important; }
	.cm-operator, .cm-js-keyword { color: $yellow !important; }
	.cm-number { color: $red !important; }
	.cm-builtin { color: $yellow !important; }
	.cm-atom { color: $red !important; }

	#elements-content.elements-wrap { 
		background-color: $background;
		overflow-x: scroll;
		padding: 0;
	}

	.webkit-html-tag-name, .webkit-html-tag, .webkit-html-attribute-name, .cm-xml-tag, .cm-xml-attribute { color: $yellow !important }
	.webkit-html-attribute-value, .webkit-html-attribute a, .cm-xml-string { color: $string !important; }
	.highlight, .webkit-html-text-node { color: $comment !important; }
	.webkit-html-comment { color: $comment !important; }
	.outline-disclosure { width: initial; }
	.outline-disclosure li {
		margin-top: 0px;
		white-space: nowrap;
		&.selected .selection {
			z-index:0 !important;
			pointer-events: none;
			background-color: $selected !important;
		}
		&.hovered:not(.selected) .selection { background: rgba(255, 255, 255, 0.1); }
	}
	.webkit-html-external-link, .webkit-html-resource-link {
		color: $comment !important;
		&:hover { color: $string !important }
	} 

	.split-view-resizer-border {
		border-left: $darker-thin-lines !important;
	}

	.split-view-sidebar {
		.sidebar-pane-title {
			@include main-content-footer;
			background: none;
			border-top: $darker-thin-lines;
			border-bottom: $darker-thin-lines; 
			height: initial;
		}

		.sidebar-pane .placard {
			padding: 0px 8px 0px 18px;
			.title { font-weight: 200 }
			.subtitle { color: $dark-white }
			&.selected { background-color: $selected }
			&:nth-of-type(2n):not(.selected) { background-color: $background }
		}

		.sidebar-pane > .body .placard + .info {
			background-color: $selected;
			border-top: none;
		}

		.sidebar-pane > .body .info {
			padding: 0px 6px;
			color: $dark-white;
		}

		.breakpoint-list li:hover {
			background-color: $selected;
		}

		.sidebar-pane .breakpoint-hit {
			background-color: $selected;
		}

		.scripts-debug-toolbar, .scripts-debug-toolbar-drawer { background: $background }
		.scripts-debug-toolbar-drawer { border-bottom: $darker-thin-lines; label { border-top: $darker-thin-lines } }

		.sidebar-pane-filter-box {
			border-top: $darker-thin-lines !important;
			@include main-content-footer;
			&.styles-filter-engaged {
				background-color: $slightly-lighter;
			}
		}

		.style-panes-wrapper {

			.sidebar-pane-toolbar > .pane-title-button, .sidebar-pane-button-new-rule {
				-webkit-mask-image: url($img_path + 'paneAddButtons.png');
				&.element-state { -webkit-mask-image: url($img_path + 'paneElementStateButtons.png') }
				-webkit-mask-size: 23px 17px;
				background-image: none;
				background: $darker-white;
			}

			.styles-section {
				border-bottom: $darker-thin-lines !important;
				color: $light-white !important;
				.filter-match { background-color: $slightly-lighter }
				.simple-selector.selector-matches { color: $dark-white !important; }
				.header .title .media {
					&, & .subtitle {
						color: $comment !important;
					}
				}
			}

			.styles-section.read-only:not(.computed-style) {
				background: $background;	
			}

			.styles-section, .sidebar-pane-filter-box {
				border-left: $darker-thin-lines !important;
			}

			.sidebar-separator {
				background-color: $background;
				border-bottom: $darker-thin-lines !important;
				@include main-content-footer;
				color: $light-white !important;
			}

			.styles-element-state-pane {
				$state-height: 80px;
				height: $state-height;
				// margin-top: -1 * $state-height;
				border-bottom: $darker-thin-lines;
			}

		}

		.metrics-and-computed .metrics {
			color: $light-white;
			border-bottom: $darker-thin-lines !important;
		}
	}

}

.events-pane .section {
	&:not(:nth-of-type(1)) { border-top: $darker-thin-lines }
	& > header { font-weight: $main-font-weight }
	.event-bars .event-bar .header .title {
		font-weight: $main-font-weight;
		text-shadow: none;
	}
}

.vbox.elements #elements-crumbs {
	border-top: $darker-thin-lines;
	background-color: $background;
	@include main-content-footer;
	& /deep/ .crumbs {
		// line-height: $main-line-height;
		// font-size: $main-size;
		.crumb { 
			height: initial;
			&:hover { background-color: $background; }
			&:hover, &.selected, &.selected:hover { font-weight: 300 }
			&.selected, &.selected:hover {
				background-color: lighten($background, 2%);
			}
			&:nth-child(n+2) { border-left: $darker-thin-lines }
		}
		.crumb, span.extra { text-shadow: none; }
	}
}

.split-view-resizer-border { 
	border-top: $darker-thin-lines !important;
}

// .close-button-gray:hover {
// }
// .close-button-gray {
// 	background: none;
// }
// .close-button, .close-button-gray {
// 	&:before {
// 		content: "×";
// 		color: $orange;
// 		font-size: 12px;
// 	}
// 	background: none;
// 	background-size: 320px 144px;
// 	display: inline-block;
// }

/* Console Start */

html .platform-mac .console-view {

	color: $light-white !important;

	.webkit-html-external-link, .webkit-html-resource-link {
		color: $comment !important;
		&:hover { color: $string !important }
	} 

	#console-messages .link, #console-messages a {
		color: #A3AD92;
	}

	.console-object-preview { color: $light-white; font-weight: 100 }

	.section .properties .name, .event-properties .name, .console-object-preview .name {
		color: $purple;
	}

	.console-formatted-string {
		color: $string;
	}

	.console-formatted-number, .console-formatted-regexp, .console-formatted-symbol, .console-formatted-boolean {
		color: $red;
	}

	.console-group-messages .outline-disclosure, .console-group-messages .outline-disclosure ol {
		line-height: $main-line-height;
	}

	#console-messages {
		$main-line-height: 23px;
		border-top: $darker-thin-lines;
		#console-prompt {
			&::before {
				background: none;
				-webkit-mask-position: -192px -107px;
				-webkit-user-select: none;
				-webkit-mask-image: url(Images/statusbarButtonGlyphs.png);
				-webkit-mask-size: 320px 144px;
				background-color: $orange;
			}
			min-height: $main-line-height;
			line-height: $main-line-height;
		}
		.console-message, .console-user-command {
			border-bottom: $darker-thin-lines;
		}
		.console-message, .console-user-command, .console-object-preview {
			min-height: $main-line-height;
			line-height: $main-line-height;
		}
	}

	.status-bar-item { //prepend select?
		$subtle-gray: rgb(136, 136, 136);
		&.select { margin-right: -13px; }
		color: $subtle-gray !important;
		text-shadow: none !important;
		& > .glyph {
			.status-bar-item > .glyph {
				opacity: 0.3;
				background-color: white;
			}
		}
	}

	.status-bar-select-arrow {
		border-top: rgb(136, 136, 136) 8px solid;
		border-left: transparent 6px solid;
		border-right: transparent 6px solid;
		margin-top: 8px;
	}

	.console-user-command > .console-message-text {
		color: inherit;
	}

	.console-debug-level .console-message-text {
		color: inherit;
	}

	.outline-disclosure li.parent.expanded, .section.expanded div.header.monospace {
		
		&::before {
			-webkit-mask-position: -20px -96px;
		}
	}

}

.bubble-repeat-count, .console-warning-level::before, .error-icon-small:after, .console-error-level:before {
	line-height: $main-px;
	width: $main-px;
	height: $main-px;
	color: $orange;
	margin-top: 0px;
	top: 0px;
	font-size: 18px;
}

.bubble-repeat-count {
	background: none;
	font-weight: $main-font-weight;
	padding-left: 3px;
	font-size: 14px;
}

.console-warning-level, .warning-icon-small {
	background-image: none;
	&:before {
		background-image: none;
		content: "*";
		color: $orange;
		text-indent: 7px;
		font-weight: 600;
	}
}

.error-icon-small:after, .console-error-level:before {
	font-family: 'Source Code Pro';
	content: "x";
	position: absolute;
	font-weight: 100;
	background-image: none;
}

.console-error-level .console-message-text, .console-error-level .section > .header .title, .section .properties .value.error {
	line-height: $main-line-height;
    color: $red !important;
    font-weight: 400;
}

/* Console End */