@function px($em, $base: $main-size) { @return $em/1em * $base }
@function img_url($file) {
	@return url("chrome-extension://__MSG_@@extension_id__/images/" + $file);
	// ^ refers to chrome extension folder, see http://stackoverflow.com/a/8864212
}

$light-white: rgb(229,229,229);
$dark-white: rgb(145,145,145);

$brown: #B88E74;
$red: rgb(200, 93, 55);
$string: #9db075;
$purple: rgb(154,132,158);
$orange: rgb(241,130,95);
$blue: rgb(117, 135, 166);
$background: rgb(40,40,40);
$darker-bg: darken($background, 10%);
$slightly-lighter: lighten($background, 2%);
$yellow: rgb(224, 197, 137);
$js-keyword: rgb(249, 238, 152);
$comment: $dark-white;
$selected: rgba(161, 174, 175, 0.1);
$orange-highlight: rgb(241, 130, 96);

$main-size: 16px;
$main-line-height: 1.25em;
$main-font-weight: 200;
$main-px: px($main-line-height, $main-size);
$bigger-line-height: $main-line-height + 0.5em;
$bigger-px: px($bigger-line-height, $main-size);
$sub-size: 15px;
$sub-line-height: 1.25em;
$thin-lines: 1px solid rgb(120,120,120);
$darker-width: 1px;
$darker-thin-lines: $darker-width dotted rgb(50,50,50);

$err_dim: $main-px;
$err_icon_dim: $err_dim - 2px;

$glyph-color: $dark-white;
$glyph-selected-color: $orange;

$big_tabs: 38px;

@mixin main-content-footer($font-size:$sub-size) {
	flex-basis: $big_tabs !important;
	&, & *, & /deep/ * {
		font-size: $font-size !important;
		font-weight: $main-font-weight !important;
		line-height: $big_tabs !important;
		color: $dark-white !important;
	}
}

@mixin arrow {
	-webkit-mask-image: url(Images/statusbarButtonGlyphs.png);
	-webkit-mask-size: 320px 144px;
	-webkit-mask-position: -4px -91px;
	background-color: $glyph-color;
	background-position: initial !important;
	opacity:1 !important;
	width: 8px !important;
	height: 20px !important;
	vertical-align: bottom;
	margin-right: 4px !important;
	top: 0px;
}
@mixin toggled-arrow { -webkit-mask-position: -20px -90px }

input, textarea { cursor: img_url("cursor.png") }
::selection, ol.watch-expressions > li.hovered, .CodeMirror-selected { background: $selected !important; }

html {
	.styles-pane, .vbox.sources, .vbox.elements, .platform-mac .console-view, #drawer-tabbed-pane { /* only target the "Sources" and "Elements" panes */
		&, .tabbed-pane-content { background: $background }
		&, & /deep/ .platform-mac, & #console-messages, input, textarea, keygen, select, button {
			* { font-family: 'Source Code Pro' !important; }
			-webkit-text-stroke: 1px rgba(0,0,0,0.1);
			font-size: $main-size !important;
			font-weight: $main-font-weight !important;
			line-height: $main-line-height !important;
			color: $dark-white !important;
			.monospace { font-size: $main-size !important;  }
			.source-code { font-size: $main-size !important; }
			.metrics { line-height: normal }
		}
	}
}

.child-editing { 
	color: $light-white !important;
}
.editing, .editing * {
	outline: none !important;
	color: $light-white !important;
	&::selection { background-color: $background !important; }
	background-color: $selected !important;
	box-shadow: none;
}

/* Glyphs and icons */

.glyph {
	background-color: $glyph-color; 
	opacity: 1 !important; 
	top: 1px;
	&.shadow { display: none; }
	
	/* Element inspector and emulation icons */
	.emulation-status-bar-item & { -webkit-mask-position: -163px 2px }
	.node-search-status-bar-item & { -webkit-mask-position: -224px -23px }
	
	/* Debug icon glyphs under Sources */
	.scripts-debug-toolbar & {
		height: 20px; // otherwise the other glyphs show below
		bottom: 0px;
		margin: auto;
	}
	.scripts-pause & { -webkit-mask-position: -32px -75px }
	.scripts-pause.toggled-on & { -webkit-mask-position: 0 -75px }
	.scripts-toggle-breakpoints & { -webkit-mask-position: 0px -26px }
	.scripts-toggle-breakpoints.toggled-on & { -webkit-mask-position: -32px -2px }
	.scripts-step-over & { -webkit-mask-position: -128px -75px }
	.scripts-step-into & { -webkit-mask-position: -64px -75px }
	.scripts-step-out &  { -webkit-mask-position: -97px -75px }
	.scripts-pause-on-exceptions-status-bar-item & { -webkit-mask-position: -256px -2px }

}

button.status-bar-item, div.status-bar-item {
	padding:0;
	height: $bigger-px;
	.status-bar-counter-item > div {
		vertical-align: 1px;
		margin-right: 5px;
	}
	&.toggled-on .glyph:not(.shadow), &.toggled-shown .glyph { background-color: $glyph-selected-color !important }
}

.status-bar-item {
	vertical-align: top;
	color: $glyph-color !important;
	text-shadow: none !important;
	&.select { margin-right: -13px; }
	.search-bar & {
		width: initial; height: initial;
		.status-bar-button-text { line-height: $bigger-px; }
	}
	.status-bar-counter-item  {
		vertical-align: top;
	}
}

.scripts-debug-toolbar {
	.long-click-glyph.shadow {
		top: 3px;
		background-color: $glyph-color !important;
		z-index: 1;
	}
}

.error-icon-small {
	background-image: none;
	position: relative;
}

.object-info-state-note {
	background-color: $glyph-selected-color;
	&::before { color: $background; font-weight: 800 !important }
}

.swatch { 
	line-height: 0px;
	border-radius: 50%;
	overflow: hidden;
	width: 13px;
	height: 13px;
	.swatch-inner, .swatch-inner:hover {
		border:none;
		border-radius: 50%;
		box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.5) inset;
	}
}

.tabbed-pane-placeholder { text-shadow: none; color: $comment; }

#drawer-contents, .vbox.sources, .vbox.elements, .toolbar, #sources-panel-sources-view, 
.panel.sources .navigator-tabbed-pane {
	.tabbed-pane-header { 
		background-color: $darker-bg !important;
		border-bottom: none;
		@include main-content-footer;
		.tabbed-pane-header-contents { margin: 0 }
		.tabbed-pane-header-tab {
			border: none;
			padding: 0 15px;
			margin: 0;
			height: $big_tabs;
			width: initial !important;
			font-weight: $main-font-weight;
			&.selected { 
				background: $background;
				.tabbed-pane-header-tab-title { color: $light-white }
			}
		}
	}

}

#drawer-contents {
	.tabbed-pane-header { 
		background-color: $background !important;
		.tabbed-pane-header-tab.selected { background-color: lighten($background, 2%) }
	}
}

.toolbar {
	* { font-family: 'Source Code Pro' !important; }
	padding: 0;
	background: $darker-bg;
	border-bottom: none;
	@include main-content-footer($font-size:$main-size);
	.tabbed-pane-header {
		border: none !important;
		@include main-content-footer($font-size:$main-size);
	}
	.tabbed-pane-header-tabs {
		.tabbed-pane-header-tab { height: $big_tabs }
	}
	.toolbar-controls-left, .toolbar-controls-right {
		opacity: 1;
		margin: 0;
		background: $darker-bg;
	}
}

li.overloaded, .styles-section .properties .has-ignorable-error { 
	color: $light-white;
	// background-color: $light-white;
	opacity: 0.5;
	.value { color: $light-white; }
}

.console-view-wrapper { background: $background }

.console-view-wrapper, .vbox.sources, .vbox.elements /deep/ {
	input[type="checkbox"] {
		position: relative;
		width: 10px;
		height: 10px;
		top: 6px;
		margin: 0px 6px 0px 0px;
		border: none;
		box-shadow: none;
		&:before {
			background-color: $background;
			content: "";
			height: 100%;
			width: 100%;
			position: absolute;
		}
		&:after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			font-size: 22px;
			font-weight: 100;
			line-height: 7px;
			border-radius: 50%;
			color: $light-white;
			border: 1px $dark-white solid;
		}
		&:hover:after {  }
		&:checked:after { 
			content: ""; 
			background-color: rgba($light-white, 0.9);
			border-color: $dark-white; 
			box-shadow: 0px 0px 0px 1px black inset; 
		}
		&.enabled-button { left: -38px; }
	}
	.properties-tree li {
		&, &.event-listener-breakpoints {
			line-height: $main-line-height !important;
			padding-top: 0px;
		}
	}
	.navigator {
		color: lighten($dark-white, 20%);
		.icon {
			width: 20px;
			height: 20px;
			float: left;
			padding: 4px;
		}
		.navigator-domain-tree-item .icon { content: img_url("domain.png") }
		.navigator-folder-tree-item .icon { content: img_url("folder.png"); opacity: 1 }
		li {
			line-height: $main-line-height;
			&, &.selected .selection { height: $main-line-height }
		}
	}
	li.parent, .sidebar-pane-title, .section .header.monospace {
		.expand-element { @include arrow; }
		&.expanded .expand-element { @include toggled-arrow; }
		&::before { @include arrow; }
		&.expanded::before { @include toggled-arrow; }

	}
	.expanded { -webkit-mask-position: -20px -90px }
	.search-bar {
		$extra-space: 15px;
		$per-side: $extra-space/2;
		$search-height: $bigger-px + $extra-space;
		background: $darker-bg;
		height: $search-height;
		flex: 0 0 $search-height;
		line-height: $search-height;
		border-top: $darker-thin-lines;
		&.replaceable { 
			height: $search-height * 2; 
			flex: 0 0 $search-height * 2; 
			tr:nth-child(2) { margin-top: -1 * $per-side; }
		}
		td { line-height: $bigger-px; height: $search-height }
		.toolbar-search-control, .toolbar-replace-control {
			td:nth-child(1) & { margin-left: $per-side; }
		}
		.toolbar-search-navigation-controls {
			background: $background;
		}
		.toolbar-search td > span { line-height: $main-line-height; align-items: initial; }
		.toolbar-search button.search-action-button {
			border: none;
			border-radius: 0;
			margin: 0;
			background: $background;
			width: 100%;
			height: $bigger-px;
			width: initial;
		}
		.search-results-matches { font-size: $main-size; }
		.toolbar-search-navigation {
			&.toolbar-search-navigation-next, &.toolbar-search-navigation-prev {
				background: white;
				-webkit-mask-repeat: no-repeat;
				-webkit-mask-position: 4px 11px;
			}
			&.toolbar-search-navigation-next {
				-webkit-mask-image: img_url("down-arrow.png");
			}
			&.toolbar-search-navigation-prev {
				-webkit-mask-image: img_url("up-arrow.png");
			}
		}
		.toolbar-search-control, .toolbar-replace-control, .search-replace {
			border: 0;
			line-height: $bigger-px;
			background: $background;
			height: $bigger-px; 
		}
		.search-replace { padding: 0 $per-side; }
	}
	.console-filters-header {
		&, & * {
			line-height: $bigger-px;
		}
	}
}

.sources-status-bar {
	@include main-content-footer;
	background: none !important;
	border-top: $darker-thin-lines !important;
}

html /deep/ .popover.platform-mac, html #glass-pane {
	&, /deep/ .platform-mac *, * {
		color: lighten($dark-white, 15%);
		font-family: "Source Code Pro" !important;
		font-size: $main-size;
		font-weight: normal;
	}
	background: $slightly-lighter;
	-webkit-border-image: none;
}

html /deep/ {
	.filtered-item-list-dialog {
		& > div.container {
			background-color: $background;
			.filtered-item-list-dialog-item.selected { background: $selected }
			.filtered-item-list-dialog-item.two-rows { border-bottom: $darker-thin-lines }
			span.highlight { color: $orange !important; }
			.filtered-item-list-dialog-subtitle {
				$f-size: $main-size - 5px;
				color: $dark-white !important;
				font-size: $f-size !important;
				font-weight: 100;
				span.highlight { font-size: $f-size !important; }
			}
		}
		input[type="text"] { 
			background: $background;
			box-shadow: none;
			font-size: $main-size !important;
			font-weight: normal;
		}
	}
}

.toolbar, body.undocked.platform-mac.inactive .toolbar-colors, body.undocked.platform-mac .toolbar-colors { 
	background: $background !important;
	background-image: none !important;
}

.dialog {
	border: 5px solid $selected !important;
	box-shadow: none;
}

.vbox.sources {
	$padding: 10px;
	.sidebar-pane { padding-left: $padding }
	.sidebar-pane-title {
		padding-left: $padding;
		&:before { top: 7px; }
	}
}

.vbox.sources, .vbox.elements /deep/, .console-view /deep/ { /* only target the "Sources" and "Elements" panes */

	.elements-tree-outline li.shadow-root + ol {
		border-left: 1px dotted rgba($orange, 0.3);
	}

	.section .properties .dimmed {
		opacity: 1;
	}

	.section .properties .name, .event-properties .name, .console-object-preview .name  {
		color: $light-white !important;
		font-weight: 100 !important;
	}

	.highlighted-search-result { background-color: $orange-highlight; color: black !important; }

	.webkit-html-pseudo-element {
		color: $red;
	}

	span.cm-property { color: white; }

	.cm-execution-line {
		background-color: $selected;
		outline: none;
		.CodeMirror-linenumber { border: none !important; }
		&.cm-breakpoint {
			.CodeMirror-linenumber.CodeMirror-gutter-elt {
				border-right: none !important;
				&:after {
					background: $string;
				}
			}
		}
	}

	.cm-breakpoint {
		.CodeMirror-linenumber.CodeMirror-gutter-elt {
			border: none !important;
			height: $main-px !important;
			line-height: $main-px !important;
			color: rgba(0,0,0,0);
			margin: 0 !important;
			$dim: $main-px - 4px;
			&:after {
				height: $dim;
				width: $dim;
				position: absolute;
				content: "";
				background: $orange;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				border-radius: 50%;
			}
		}
	}

	$line-number-size: 50px;

	.CodeMirror {
		line-height: $main-line-height !important; 
		font-family: 'Source Code Pro' !important;
		background: $background !important;
		pre {
			padding: 0 10px !important; 
			font-family: 'Source Code Pro' !important; 
			line-height: $main-line-height !important
		}
		.CodeMirror-cursor { border-left: 1px solid $orange !important; }
		.CodeMirror-sizer { margin-left: $line-number-size + 1px !important; }
		.CodeMirror-linenumbers { width: $line-number-size !important; }
		.CodeMirror-linenumber { 
			font-size: 14px; 
			padding: 0 !important; 
			text-align: center !important; 
			opacity: 1; 
			color: darken($dark-white, 20%);
			font-weight: normal;
		}
		.CodeMirror-gutters { background-color: $background; border-right: $darker-thin-lines !important; padding-right:0px; }

		.text-editor-line-with-warning, .text-editor-line-with-error {
			&:not(.cm-execution-line) { background-color:$selected }
			.text-editor-line-decoration-wave {
				background: none;
				.text-editor-line-decoration-icon {
					right: -1*$err_icon_dim;
					top: -1*$err_icon_dim;
				}
			}
		}

		@-webkit-keyframes highlight-bg {
			0% { background-color: $background; }
			25% { background-color: $selected; }
			100% { background-color: $background; }
		}
		.cm-highlight {
			-webkit-animation: "highlight-bg" 1.5s 0s !important;
		}

		.cm-line-with-selection .cm-column-with-selection.cm-search-highlight {
			color: black !important;
			&:before { background-color: $orange-highlight; }
		}

		.cm-s-web-inspector-html .CodeMirror-code pre { max-width: 100%; }

		@-webkit-keyframes corey {
			0% { background-color: $orange-highlight; color: black; }
			100% { background-color: transparent; color: white; } 
		}
		.CodeMirror-matchingbracket { 
			-webkit-animation: none;
			color: white !important;
			border: none !important;
			border-bottom: 1px dotted $orange !important;
		}
		.CodeMirror-nonmatchingbracket { color: white !important; }
	}

	@mixin incSelected($color) {
		color: $color !important;
		&.CodeMirror-selectedtext:not(.CodeMirror-persist-highlight) { color: $color !important }
	}
	.CodeMirror-selectedtext:not(.CodeMirror-persist-highlight) { color: inherit !important; }
	.CodeMirror-code pre, .webkit-css-keyword, .cm-css-operator, .cm-js-operator, .webkit-css-operator { @include incSelected($light-white) }
	.cm-css-def, .cm-js-def, .webkit-css-def, .webkit-css-selector, .cm-css-builtin, .cm-css-qualifier, .cm-css-keyword { @include incSelected($yellow) }
	.cm-css-property, .cm-js-property, .webkit-css-property, .cm-css-meta { @include incSelected($purple); }
	.cm-css-string-2, .cm-js-string-2, .webkit-css-string-2, .cm-keyword { @include incSelected($yellow); }
	.cm-css-comment, .cm-js-comment, .webkit-css-comment { @include incSelected($comment); }
	.cm-css-number, .cm-js-number, .webkit-css-number, .cm-css-atom, .cm-js-atom, .webkit-css-atom { @include incSelected($red);}
	.cm-css-string, .cm-js-string, .webkit-css-string, .cm-string { @include incSelected($string) }
	.cm-css-attribute, .cm-js-attribute, .webkit-css-attribute { @include incSelected($brown); }
	.cm-js-tag, .webkit-css-tag { @include incSelected($brown); }
	.cm-css-tag { @include incSelected($blue) }
	.cm-css-variable, .cm-js-variable, .webkit-css-variable, .cm-variable, .cm-css-variable-2, .cm-variable-2 { @include incSelected($blue); }

	.cm-comment, .cm-xml-comment { color: $comment !important; }
	.cm-meta { color: $light-white !important; }
	.cm-operator, .cm-js-keyword { color: $yellow !important; }
	.cm-number { color: $red !important; }
	.cm-builtin { color: $yellow !important; }
	.cm-atom { color: $red !important; }

	#elements-content.elements-wrap { 
		background-color: $background;
		overflow-x: scroll;
		padding: 0;
	}

	.split-view-resizer-border {
		border-left: $darker-thin-lines !important;
	}

	.split-view-sidebar {
		.sidebar-pane-title {
			@include main-content-footer;
			background: none;
			border-top: $darker-thin-lines;
			border-bottom: $darker-thin-lines; 
			height: initial;
		}

		.sidebar-pane .placard {
			padding: 0px 8px 0px 18px;
			.title { font-weight: 200 }
			.subtitle { color: $dark-white }
			&.selected { background-color: $selected }
			&:nth-of-type(2n):not(.selected) { background-color: $background }
		}

		.sidebar-pane > .body .placard + .info {
			background-color: $selected;
			border-top: none;
		}

		.sidebar-pane > .body .info {
			padding: 0px 6px;
			color: $dark-white;
		}

		.breakpoint-list li:hover {
			background-color: $selected;
		}

		.sidebar-pane .breakpoint-hit {
			background-color: $selected;
		}

		.scripts-debug-toolbar, .scripts-debug-toolbar-drawer { background: $background }
		.scripts-debug-toolbar-drawer { border-bottom: $darker-thin-lines; label { border-top: $darker-thin-lines } }

		.sidebar-pane-filter-box {
			border-top: $darker-thin-lines !important;
			@include main-content-footer;
			&.styles-filter-engaged {
				background-color: $slightly-lighter;
			}
		}

		.sidebar-pane-toolbar > .pane-title-button, .sidebar-pane-button-new-rule {
			-webkit-mask-image: img_url("paneAddButtons.png");
			&.element-state { -webkit-mask-image: img_url("paneElementStateButtons.png") }
			&.refresh { -webkit-mask-image: img_url("paneRefreshButtons.png") }
			-webkit-mask-size: 23px 17px;
			background-image: none;
			background: $glyph-color;
		}

		.style-panes-wrapper {

			.styles-section {
				border-bottom: $darker-thin-lines !important;
				color: $light-white !important;
				.filter-match { background-color: $slightly-lighter }
				.simple-selector { 
					color: $dark-white !important;
					&.selector-matches { color: $yellow !important }
				}
				.header .title .media {
					&, & .subtitle {
						color: $comment !important;
					}
				}
			}

			.styles-section.read-only:not(.computed-style) {
				background: $background;	
			}

			.styles-section, .sidebar-pane-filter-box {
				border-left: $darker-thin-lines !important;
			}

			.sidebar-separator {
				background-color: $background;
				border-bottom: $darker-thin-lines !important;
				@include main-content-footer;
				color: $light-white !important;
			}

			.styles-element-state-pane {
				$state-height: 80px;
				height: $state-height;
				// margin-top: -1 * $state-height;
				border-bottom: $darker-thin-lines;
			}

		}

	}

}

.metrics-and-computed .metrics { border-bottom: $darker-thin-lines !important; }

.metrics {
	color: $background !important;
	font-weight: normal !important;
	div.label { transition: color 0.25s linear; }
	.position, .margin, .border, .padding, .content { 
		background-color: $background !important;
		border-color: darken($dark-white, 20%) !important; 
		border-style: dotted !important;
		transition: border 0.25s linear;
	}
	.position { color: $dark-white }
	.margin { color: $orange }
	.border { color: $yellow }
	.padding { color: $string }
	.content { color: $blue }
	@mixin metrics($color, $border-style) {
		border: 1px $border-style $color !important;
		&, & div.label { color: $color !important }
	}
	@mixin metric-hover($color) {
		border-color: $color !important;
		&, & > div.label { color: $color !important }
	}
	@mixin no-hover($color) {
		border-color: $dark-white !important; 
		&, & > div.label { color: $dark-white !important }
	}
	&:hover {
		.position { @include metrics($dark-white, dotted); }
		.margin { @include metrics($orange, dotted); &:hover { @include metric-hover($orange) } }
		.border { @include metrics($yellow, dotted); &:hover { @include metric-hover($yellow) } }
		.padding { @include metrics($string, dotted); &:hover { @include metric-hover($string) } }
		.content { @include metrics($blue, dotted); &:hover { @include metric-hover($blue) } }
		&, .position:hover {
			.margin { @include metric-hover($orange) }
			.border { @include metric-hover($yellow) }
			.padding { @include metric-hover($string) }
			.content { @include metric-hover($blue) }
		}
		.margin:hover { 
			@include metric-hover($orange) 
		}
	}
}

body, body /deep/ {
	.webkit-html-tag-name, .webkit-html-tag, .webkit-html-attribute-name, .cm-xml-tag, .cm-xml-attribute { color: $yellow !important }
	.webkit-html-attribute-value, .webkit-html-attribute a, .cm-xml-string { color: $string !important; }
	.highlight, .webkit-html-text-node { color: $comment !important; }
	.webkit-html-comment { color: $comment !important; }
	.outline-disclosure { width: initial; }
	.outline-disclosure > ol { padding: 0px }
	.outline-disclosure li {
		margin-top: 0px;
		white-space: nowrap;
		&.selected .selection {
			z-index:0 !important;
			pointer-events: none;
			background-color: $selected !important;
		}
		&.hovered:not(.selected) .selection {
			border-radius: 0px;
			background: rgba(255, 255, 255, 0);
			left:0;
			right:0;
		}
	}
	.webkit-html-external-link, .webkit-html-resource-link {
		color: $comment !important;
		&:hover { color: $string !important }
	}
}

.events-pane .section {
	&:not(:nth-of-type(1)) { border-top: $darker-thin-lines }
	& > header { font-weight: $main-font-weight }
	.event-bars .event-bar .header .title {
		font-weight: $main-font-weight;
		text-shadow: none;
	}
}

.vbox.elements #elements-crumbs {
	border-top: $darker-thin-lines;
	background-color: $background;
	@include main-content-footer;
	& /deep/ .crumbs {
		// line-height: $main-line-height;
		// font-size: $main-size;
		.crumb { 
			height: initial;
			&:hover { background-color: $background; }
			&:hover, &.selected, &.selected:hover { font-weight: 300 }
			&.selected, &.selected:hover {
				background-color: $slightly-lighter;
			}
			&:nth-child(n+2) { border-left: $darker-thin-lines }
		}
		.crumb, span.extra { text-shadow: none; }
	}
}

.split-view-resizer-border { 
	border-top: $darker-thin-lines !important;
}

html .platform-mac .console-view, .vbox.sources, .vbox.elements {

	color: $light-white !important;

	.webkit-html-external-link, .webkit-html-resource-link {
		color: $comment !important;
		&:hover { color: $string !important }
	} 

	#console-messages .link, #console-messages a {
		color: #A3AD92;
	}

	.console-object-preview { color: $light-white; font-weight: 100 }

	.section .properties .name, .event-properties .name, .console-object-preview .name {
		color: $purple;
	}

	.console-formatted-array {
		color: $light-white;
		.console-formatted-node:hover {
			background-color: rgba(0,0,0,0);
		}
	}

	.console-formatted-string {
		color: $string;
	}

	.console-formatted-number, .console-formatted-regexp, .console-formatted-symbol, .console-formatted-boolean {
		color: $red;
	}

	.console-group-messages {
		.section > .header .title { 
			color: $light-white;
			line-height: $main-line-height;
			font-weight: $main-font-weight;
		}
		.outline-disclosure { &, & ol { line-height: $main-line-height } }
	}

	#console-messages {
		$main-line-height: 23px;
		border-top: $darker-thin-lines;
		#console-prompt {
			&::before {
				background: none;
				-webkit-mask-position: -192px -107px;
				-webkit-user-select: none;
				-webkit-mask-image: url(Images/statusbarButtonGlyphs.png);
				-webkit-mask-size: 320px 144px;
				background-color: $glyph-selected-color;
			}
			min-height: $main-line-height;
			line-height: $main-line-height;
		}
		.console-message, .console-user-command {
			border-bottom: $darker-thin-lines;
		}
		.console-message, .console-user-command, .console-object-preview {
			min-height: $main-line-height;
			line-height: $main-line-height;
		}
	}

	.status-bar-select-arrow {
		border-top: rgb(136, 136, 136) 8px solid;
		border-left: transparent 6px solid;
		border-right: transparent 6px solid;
		margin-top: 8px;
	}

	.console-user-command > .console-message-text {
		color: inherit;
	}

	.console-debug-level .console-message-text {
		color: inherit;
	}

	&, & /deep/ {
		.outline-disclosure li.parent::before {
			@include arrow;
		}
		.outline-disclosure li.parent.expanded, .section.expanded div.header.monospace {
			&::before {
				@include toggled-arrow;
			}
		}
	}

}

.bubble-repeat-count, .console-warning-level::before, .error-icon-small:after, .console-error-level:before {
	line-height: $err_dim;
	width: $err_dim;
	height: $err_dim;
	color: $orange;
	margin-top: 0px;
	top: 0px;
	font-size: $err_icon_dim;
}

.bubble-repeat-count {
	background: none;
	font-weight: $main-font-weight;
	padding-left: 3px;
	font-size: 14px;
}

.console-warning-level, .warning-icon-small {
	background-image: none;
	&:before {
		background-image: none;
		content: "*";
		color: $orange;
		text-indent: 7px;
		font-weight: 600;
	}
}

.error-icon-small:after, .console-error-level:before {
	font-family: 'Source Code Pro';
	content: "x";
	position: absolute;
	font-weight: 100;
	background-image: none;
}

.console-error-level .console-message-text, .console-error-level .section > .header .title, .section .properties .value.error {
	line-height: $main-line-height;
    color: $red !important;
    font-weight: 400;
}

.console-status-bar, .console-filters-header {
	$height: $bigger-px;
	flex: 0 0 $height;
	.filter-bitset-filter li {
		margin: auto 2px;
		padding: 0px 5px;
		text-shadow: none;
		border-radius: 0px;
	}

	.status-bar-item.console-context {
		margin-left: 0;
		margin-right: -16px;
		background: $darker-bg;
		height: $height;
	}

	.status-bar-item.checkbox {
		margin-top: 0px;
		margin-left: 3px;
		margin-bottom: 0px;
		line-height: $height;
		input { top: 8px }
	}

	input.search-replace.toolbar-replace-control {
		background: $background;
		border: none;
	}

}

/* Console End */